<h1>Edit this restaurant</h1>

<%= render "form", restaurant: @restaurant %>

<br>

<div>
  <%= link_to "Go to this restaurant", @restaurant, class: "btn btn-outline-primary" %>
  <%= link_to "Back to restaurants", restaurants_path, class: "btn btn-outline-primary" %>
</div>
