<div class="d-flex justify-content-between align-items-center mb-3">
  <h1>All Restaurants</h1>
  <%= link_to "Add Restaurant", new_restaurant_path, class: "btn btn-primary"%>
</div>

<div class="list-group">
  <% @restaurants.each do |restaurant| %>
    <%= render restaurant %>
    <%= link_to "Show me this restaurant", restaurant, class: "btn btn-outline-primary" %>
    <br>
  <% end %>

</div>
